.affairsBlock {
    margin-left: 30px;
    display: grid;
    gap: 10px;
    grid-template-rows:20%;
    margin-top: 30px;
}

.affair {
    display: grid;
    grid-template-columns:70% 30%;
    width: 180px;
    padding: 10px;
    background-color: lightgreen;
    box-shadow: 0 0 13px #333;
}

.affairName {
    color: darkorange;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
}
.affair button{
    box-shadow: none;
}
.affair button:hover {
    color: darkorange;
}