.default {
    border: none;
    padding: 2px 8px;
    margin: 0;
    font-size: 14px;
    color: gray;
    background-color: lightgreen;
    box-shadow: 0 0 13px #333;
}
.default:active{
    box-shadow:none;
}

.default:disabled {
    border: none;
    padding: 2px 8px;
    margin: 0;
    font-size: 14px;
    color: gray;
    background-color: lightgrey;
    box-shadow: 0 0 13px #333;
}

.default:hover {
    color: darkorange;
    background-color: #2B472B;
}

.red {
    border: none;
    font-size: 14px;
    padding: 2px 8px;
    margin: 0;
    color: grey;
    background-color: darkred;
    box-shadow: 0 0 13px #333;
}
